doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/nv.d3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/d3.js')
    script(src='/javascripts/nv.d3.js')
    script(src='/javascripts/simple_graph.js')
    link(rel='shortcut icon', href='../../assets/ico/favicon.ico')
    body
    .navbar.navbar-fixed-top.navbar-inverse(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Soundgates Debugger
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
        // /.nav-collapse
      // /.container
    // /.navbar
    .container
      .row.row-offcanvas.row-offcanvas-right
        .col-xs-12.col-sm-9
          p.pull-right.visible-xs
            button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas') Toggle nav
          .jumbotron
            h1 Soundgates Debugger
            p
              | Some helping text&period;
          //- ###############################
          //- Following Code is DB dependent
          //- ###############################
          #execution
            h2 Execution:
          //- br
          //- div(class="row")
          //-   div(class="col-md-4") Execution date:
          //-   div(class="col-md-8") #{executions[0].formattedTime}
          //- div(class="row")
          //-  div(class="col-md-4") Turnaround time:
          //-  div(class="col-md-8") #{executions[0].turnaroundTime}
          //- div(class="row")
          //-  div(class="col-md-4") Number of components:
          //-  div(class="col-md-8") #{executions[0].components.length}
          //- br          
          //- - each component in executions[0].components
          //-   div(class="panel panel-primary")
          //-     div(class="panel-heading") UID: #{component.uid}
          //-     div(class="panel-body")
          //-       p(style='white-space:pre;')
          //-         | Type: #{component.type}
          //-       - var uid = component.uid
          //-       div(id=uid)
                  //- - createChart(0, uid)

        #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
          .list-group(id="list-group")
            - each execution in executions
              a.list-group-item(href='#', value = '#{execution.timestamp}') #{execution.formattedTime}
        // /span
      // /row
      hr
      footer
        p &copy; Soundgates 2014
    // /.container
    //
       Bootstrap core JavaScript
          ================================================== 
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/offcanvas.js')